<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070443989491-vel2vp7brdtddbbh9mmun8o92mr0j00g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070443989491-vel2vp7brdtddbbh9mmun8o92mr0j00g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1070443989491-704dg7qrb63evcdt01jrk8opcs8dq0cv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACoii8KMLbBoE6p8TEOVg95qtNNizVhVY</string>
	<key>GCM_SENDER_ID</key>
	<string>1070443989491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.figico</string>
	<key>PROJECT_ID</key>
	<string>carencouserinfo</string>
	<key>STORAGE_BUCKET</key>
	<string>carencouserinfo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070443989491:ios:f4aa59447e130a8c2aea86</string>
	<key>DATABASE_URL</key>
	<string>https://carencouserinfo-default-rtdb.firebaseio.com</string>
</dict>
</plist>